<template class="<%= data.lowerName  %>">
    <div>
        <h1>{{msg}}</h1>
    </div>
</template>

<script>
    export default {
        name:'<%= data.name  %>',
        props:{
            msg:String
        },
        components:{},
        mixins:[],
        data:function() {
            return {
                message:'<%= data.lowerName  %>'
            }
        },
        created:function() {

        },
        mounted:function() {

        },
        computed:{},
        methods:{}
    }
</script>

<style scoped>
    .<%= data.lowerName  %> {
        
    }
</style>